.ad-container {
    display: flex;
    max-width: 100%;
    max-height: 500px;
    margin: auto;
    .text-container {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        padding: 20px 0px 20px 100px ;
        .welcome-span {
            width: 100%;
            color:$red;
            font-size: 25px;
            font-weight: 700 ;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 20px;
        }

        .complement-span {
            padding-bottom: 20px;
            color:$dark;
            font-size: 60px;
            font-weight: 700 ;
            font-family: 'Poppins', sans-serif;
        }

        p {
            color:$dark;
            font-size: 16px;
            font-weight: 400 ;
            font-family: 'Poppins', sans-serif;
            padding-bottom: 20px;
        }

        .btn {
            width: 200px;
            height: 50px;
            background-color: $red;
            color: $white;
            padding: 10px;
            outline: none;
            border: none;
            border-radius: 10px;
            font-size: 25px;
            font-weight: 500 ;
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
        }
        

    }
    
    .img-container {
        max-width: 50%;

        img {
            max-width: 600px;
        }
    }
}